@charset "UTF-8";

:root{
	--text-color: #1e1e1e;
	--background-color: FFFDF9;
	--accent-color:#FFC81E;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
	color: var(--text-color);
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-color);
	padding: 8px 12px;
}

.navbar_logo{
	font-size: 24px;
	color: var(--text-color);
}

.navbar_logo i {
	color:var(--accent-color);
	font-weight: bold;
}

.search-box{
	padding: 10px;
	background-color: #fff; 
	border: 1px solid #212121;
	border-radius: 30px;
	width: 282px;
}

.search-box:hover{
  box-shadow: 0px 0px .5px 1px var(--accent-color);
}

.search-btn{
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
}
.search-btn:hover{
  color:var(--accent-color);
}
.search-txt{
	border:none;
  background: none;
  outline: none;
	width: 220px;
}

.navbar_icons{
	list-style: none;
	color: var(--text-color);
	display: flex;
	padding-left: 0;
}

.navbar_icons li{
	padding: 8px 12px;
}

.navbar_toogleBtn{
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: var(--accent-color);
}

@media screen and (max-width: 786px){
	.navbar{
		flex-direction:column;
		align-items: flex-start;
	}
	
	
	.navbar_icons{
		display: none;
		justify-content: center;
		width: 100%;
	}
	.navbar_toogleBtn{
		display: block;
	}
	.search-box{
	  padding: 10px;
	  height: 30px;
	  background-color: #fff;
	  border: 2px solid;
	  border-radius: 30px;
	  transition: 0.4s;
	  width:30px;
	}
	
	.search-btn{
	  text-decoration: none;
	  float: right;
	  width: 30px;
	  height: 30px;
	  background-color: #fff;
	  border-radius: 50%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.search-txt{
	  display: flex;
	  padding: 0;
	  width: 0px;
	  border:none;
	  background: none;
	  outline: none;
	  float: left;
	  transition: .4s;
	}
}